Repository StairSupplies/go-core, changes with the labels that .github/labeler.yml gives for each.
All labels: config, httputils, jsonutils, logger, rest, str, timeutils, validate, test, workflow

.github/labeler.yml:

# Add 'config' label to any changes in the config package
config:
  - config/**/*

# Add 'httputils' label to any changes in the httputils package  
httputils:
  - httputils/**/*

# Add 'jsonutils' label to any changes in the jsonutils package
jsonutils:
  - jsonutils/**/*

# Add 'logger' label to any changes in the logger package
logger:
  - logger/**/*

# Add 'rest' label to any changes in the rest package
rest:
  - rest/**/*

# Add 'str' label to any changes in the str package
str:
  - str/**/*

# Add 'timeutils' label to any changes in the timeutils package
timeutils:
  - timeutils/**/*

# Add 'validate' label to any changes in the validate package
validate:
  - validate/**/*

# Add 'test' label to any changes to test files
test:
  - '**/*_test.go'

# Add 'workflow' label to any changes in GitHub Actions
workflow:
  - .github/workflows/**/*

Remove unused pad utils
  str/format.go
  str/format_test.go
Labels: str, test

fix: remove padding docs
  str/doc.go
Labels: str

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  6260cef68146f0847d681cc63581b790c35f4337
Labels: none

feat(logger): add support for structured context as loosly typed key-value pairs
  logger/doc.go
  logger/logger.go
  logger/logger_test.go
Labels: logger, test

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  8d6e2ec8a9a7bb229554023a2199810ee7e7671c
Labels: none

refactor: remove validate package
  validate/doc.go
  validate/validate.go
  validate/validate_test.go
Labels: validate, test

refactor: remove httputils package
  httputils/doc.go
  httputils/response.go
  httputils/response_test.go
Labels: httputils, test

refactor: remove str package
  str/doc.go
  str/format.go
  str/format_test.go
Labels: str, test

refactor: remove timeutils package
  timeutils/doc.go
  timeutils/timeutil.go
  timeutils/timeutil_test.go
Labels: timeutils, test

feat: add api and router package
  api/response.go
  router/middleware.go
  router/router.go
Labels: none

test: add api and router tests
  api/response_test.go
  router/middleware_test.go
  router/router_test.go
Labels: test

docs: add api and router docs, update readme
  README.md
  api/doc.go
  doc.go
  router/doc.go
Labels: none

chore: tidy deps
  go.mod
  go.sum
Labels: none

test: add example tests/docs
  api/example_test.go
  config/example_test.go
  jsonutils/example_test.go
  logger/example_test.go
  logger/logger_test.go
  rest/example_test.go
  router/example_test.go
Labels: config, jsonutils, logger, rest, test
